<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="linkerhand_L6V3.1_right">
  <link
    name="hand_base_link">
    <inertial>
      <origin
        xyz="0.00838418524272399 -0.224496713276239 0.0931513533183409"
        rpy="0 0 0" />
      <mass
        value="0.989012019420379" />
      <inertia
        ixx="0.0528494989066335"
        ixy="-0.00279090677758996"
        ixz="6.58371402331279E-05"
        iyy="0.00322997293631204"
        iyz="-0.004874961984962"
        izz="0.0505605963810587" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/hand_base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.796078431372549 0.823529411764706 0.937254901960784 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/hand_base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="thumb_metacarpals_base1">
    <inertial>
      <origin
        xyz="0.00057092048957481 -0.255308446083398 0.0675232891457101"
        rpy="0 0 0" />
      <mass
        value="0.989012019420379" />
      <inertia
        ixx="0.0528494988884344"
        ixy="-0.00279090693868345"
        ixz="6.58371246110166E-05"
        iyy="0.00322997295450001"
        iyz="-0.00487496198551251"
        izz="0.0505605963810698" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/thumb_metacarpals_base1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.796078431372549 0.823529411764706 0.937254901960784 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/thumb_metacarpals_base1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="thunb_cmc_roll"
    type="revolute">
    <origin
      xyz="0.0078133 0.030812 0.025628"
      rpy="0 0 0" />
    <parent
      link="hand_base_link" />
    <child
      link="thumb_metacarpals_base1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.39"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="thumb_metacarpals">
    <inertial>
      <origin
        xyz="0.147086823573812 -0.0965506900068195 -0.211519357905214"
        rpy="0 0 0" />
      <mass
        value="0.989012019420379" />
      <inertia
        ixx="0.0391477691177365"
        ixy="0.000430833838450991"
        ixz="0.0225358052055652"
        iyy="0.0509877324216957"
        iyz="-0.00104880678473407"
        izz="0.016504566684572" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/thumb_metacarpals.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.796078431372549 0.823529411764706 0.937254901960784 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/thumb_metacarpals.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="thumb_cmc_pitch"
    type="revolute">
    <origin
      xyz="0.0081692 0.011981 0.00275"
      rpy="-1.4249 0 -0.61087" />
    <parent
      link="thumb_metacarpals_base1" />
    <child
      link="thumb_metacarpals" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0.99"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="thumb_distal">
    <inertial>
      <origin
        xyz="0.147086823573828 -0.0904506900067909 -0.294219357905228"
        rpy="0 0 0" />
      <mass
        value="0.989012019420379" />
      <inertia
        ixx="0.0391477691177343"
        ixy="0.000430833838450413"
        ixz="0.0225358052055663"
        iyy="0.0509877324216957"
        iyz="-0.00104880678473297"
        izz="0.0165045666845742" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/thumb_distal.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.796078431372549 0.823529411764706 0.937254901960784 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/thumb_distal.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="thumb_dip"
    type="revolute">
    <origin
      xyz="0 -0.0061 0.0827"
      rpy="0 0 0" />
    <parent
      link="thumb_metacarpals" />
    <child
      link="thumb_distal" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="1.22"
      effort="0"
      velocity="0" />
    <mimic
      joint="thumb_cmc_pitch"
      multiplier="2.22"
      offset="0" />
  </joint>
  <link
    name="index_proximal">
    <inertial>
      <origin
        xyz="0.00905239688154528 -0.254553508667788 -0.0453483793523875"
        rpy="0 0 0" />
      <mass
        value="0.989012019420379" />
      <inertia
        ixx="0.0528494989066399"
        ixy="-0.00278602461949444"
        ixz="-0.000177656943093506"
        iyy="0.00443603046196062"
        iyz="-0.00891033861304819"
        izz="0.0493545388554037" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/index_proximal.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.796078431372549 0.823529411764706 0.937254901960784 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/index_proximal.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="index_mcp_pitch"
    type="revolute">
    <origin
      xyz="-0.00066821 0.033041 0.11614"
      rpy="-0.087266 0 0" />
    <parent
      link="hand_base_link" />
    <child
      link="index_proximal" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="1.26"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="index_distal">
    <inertial>
      <origin
        xyz="0.00784285830873942 -0.254553508667738 -0.0733401105678857"
        rpy="0 0 0" />
      <mass
        value="0.989012019420379" />
      <inertia
        ixx="0.0528494989066399"
        ixy="-0.00278602461949444"
        ixz="-0.000177656943093439"
        iyy="0.0044360304619602"
        iyz="-0.00891033861304714"
        izz="0.0493545388554041" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/index_distal.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.796078431372549 0.823529411764706 0.937254901960784 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/index_distal.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="index_dip"
    type="revolute">
    <origin
      xyz="0.0012095 0 0.027992"
      rpy="0 0 0" />
    <parent
      link="index_proximal" />
    <child
      link="index_distal" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="1.14"
      effort="0"
      velocity="0" />
    <mimic
      joint="index_mcp_pitch"
      multiplier="1.9"
      offset="0" />
  </joint>
  <link
    name="middle_proximal">
    <inertial>
      <origin
        xyz="0.00905239688168757 -0.236512205395638 -0.0379613055090484"
        rpy="0 0 0" />
      <mass
        value="0.989012019420379" />
      <inertia
        ixx="0.0528494989066412"
        ixy="-0.0027915043155795"
        ixz="-3.16042078463516E-05"
        iyy="0.00362768060395322"
        iyz="-0.00651389551838956"
        izz="0.0501628887134098" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/middle_proximal.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.796078431372549 0.823529411764706 0.937254901960784 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/middle_proximal.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="middle_mcp_pitch"
    type="revolute">
    <origin
      xyz="-0.00066821 0.013196 0.12284"
      rpy="-0.034907 0 0" />
    <parent
      link="hand_base_link" />
    <child
      link="middle_proximal" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="1.26"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="middle_distal">
    <inertial>
      <origin
        xyz="0.00811649853432021 -0.236512205395623 -0.065963521390702"
        rpy="0 0 0" />
      <mass
        value="0.989012019420379" />
      <inertia
        ixx="0.0528494989066513"
        ixy="-0.00279150431549051"
        ixz="-3.16042078345738E-05"
        iyy="0.00362768060394312"
        iyz="-0.00651389551838962"
        izz="0.0501628887134098" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/middle_distal.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.796078431372549 0.823529411764706 0.937254901960784 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/middle_distal.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="middle_dip"
    type="revolute">
    <origin
      xyz="0.0009359 0 0.028002"
      rpy="0 0 0" />
    <parent
      link="middle_proximal" />
    <child
      link="middle_distal" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="1.14"
      effort="0"
      velocity="0" />
    <mimic
      joint="middle_mcp_pitch"
      multiplier="1.9"
      offset="0" />
  </joint>
  <link
    name="ring_proximal">
    <inertial>
      <origin
        xyz="0.00909532451243805 -0.218320388068124 -0.0215667243893383"
        rpy="0 0 0" />
      <mass
        value="0.989012019420379" />
      <inertia
        ixx="0.0528504615901514"
        ixy="-0.00278078499499518"
        ixz="0.000115213642857673"
        iyy="0.00307329487175155"
        iyz="-0.00404603980175457"
        izz="0.0507163117621013" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/ring_proximal.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.796078431372549 0.823529411764706 0.937254901960784 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/ring_proximal.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ring_mcp_pitch"
    type="revolute">
    <origin
      xyz="-0.00067368 -0.0065844 0.11852"
      rpy="0.017453 0 -0.00017259" />
    <parent
      link="hand_base_link" />
    <child
      link="ring_proximal" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="1.26"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="ring_distal">
    <inertial>
      <origin
        xyz="0.00815942617851926 -0.218320549470515 -0.0495689402710074"
        rpy="0 0 0" />
      <mass
        value="0.989012019420379" />
      <inertia
        ixx="0.0528504615901514"
        ixy="-0.00278078499499518"
        ixz="0.000115213642857673"
        iyy="0.00307329487175155"
        iyz="-0.00404603980175457"
        izz="0.0507163117621013" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/ring_distal.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.796078431372549 0.823529411764706 0.937254901960784 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/ring_distal.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ring_dip"
    type="revolute">
    <origin
      xyz="0.0009359 0 0.028002"
      rpy="0 0 0" />
    <parent
      link="ring_proximal" />
    <child
      link="ring_distal" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="1.14"
      effort="0"
      velocity="0" />
    <mimic
      joint="ring_mcp_pitch"
      multiplier="1.9"
      offset="0" />
  </joint>
  <link
    name="pinky_proximal">
    <inertial>
      <origin
        xyz="0.00908321923990609 -0.199568896623514 -0.0116288042893252"
        rpy="0 0 0" />
      <mass
        value="0.989012019420379" />
      <inertia
        ixx="0.052850077338419"
        ixy="-0.0027784924475199"
        ixz="0.000212039736408693"
        iyy="0.00284946710210672"
        iyz="-0.00237451071491804"
        izz="0.0509405237834785" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/pinky_proximal.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.796078431372549 0.823529411764706 0.937254901960784 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/pinky_proximal.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="pinky_mcp_pitch"
    type="revolute">
    <origin
      xyz="-0.00067852 -0.025809 0.11521"
      rpy="0.05236 0 -0.00010364" />
    <parent
      link="hand_base_link" />
    <child
      link="pinky_proximal" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="1.26"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="pinky_distal">
    <inertial>
      <origin
        xyz="0.00814732089709562 -0.199568993307333 -0.0396310201709379"
        rpy="0 0 0" />
      <mass
        value="0.989012019420379" />
      <inertia
        ixx="0.052850077338419"
        ixy="-0.0027784924475199"
        ixz="0.000212039736408693"
        iyy="0.00284946710210672"
        iyz="-0.00237451071491804"
        izz="0.0509405237834785" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/pinky_distal.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.796078431372549 0.823529411764706 0.937254901960784 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/pinky_distal.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="pinky_dip"
    type="revolute">
    <origin
      xyz="0.0009359 0 0.028002"
      rpy="0 0 0" />
    <parent
      link="pinky_proximal" />
    <child
      link="pinky_distal" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="1.14"
      effort="0"
      velocity="0" />
    <mimic
      joint="pinky_mcp_pitch"
      multiplier="1.9"
      offset="0" />
  </joint>
</robot>